* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif !important;
}
body {
  display: block;
  background-color: rgba(124, 130, 155, 0.05);
}
body {
  font-family: "Poppins", sans-serif !important;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

